{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


 <form action="{{ form_action }}" method="post">

{% csrf_token %}

<div class="one-side"><h1 class="title">Customer Info</h1></div>

	<div class="one-side last">
		{% if node %}
			<h1> <a href="/ops/customer/edit/{{node.id}}">Edit</a> this customer</h1>
		{% endif %}
	</div>

	<div class="whole"><div class="line"></div></div>

	<div class="one-side"><h4>Customer Name: </h4>
		<div class="name-box">
			{{ node.name }}
			{{ form.name }}
			</div>
	</div>

	<div class="one-side last"><h4>Hourly Rate: </h4>
		<div class="name-box">
      {% if form %}{{ form.rate }}{% endif %}
			{%for child in node.node_set.all%}
				{% if child.name == "rate" %}
					{{ child.desc }}
				{% endif %}
			{%endfor%}
			</div>
	</div>

	<div class="one-side"><h4>Primary Contact Info: </h4>
		<div class="name-box">
			<h6>Name: </h6>
			{%for child in node.node_set.all%}
				{% if child.name == "primName" %}
					{{ child.desc }}
				{% endif %}
			{%endfor%}

			{% if form %}{{ form.primName }}{% endif %}
			</br>
			<br><h6>Phone: </h6>
			{%for child in node.node_set.all%}
				{% if child.name == "primPhone" %}
					Name: {{ child.desc }}
				{% endif %}
			{%endfor%}

			{% if form %}{{ form.primPhone }}{% endif %}
			</br>
			<br><h6>Email: </h6>
			{%for child in node.node_set.all%}
				{% if child.name == "primEmail" %}
					{{ child.desc }}
				{% endif %}
			{%endfor%}

			{% if form %}{{ form.primEmail }}{% endif %}
			</br>
			<br><h6>Address: </h6>
			{%for child in node.node_set.all%}
				{% if child.name == "primAddress" %}
					{{ child.desc }}
				{% endif %}
			{%endfor%}

			{% if form %}{{ form.primAddress }}</br>{% endif %}
		</div>
	</div>

	<div class="one-side last"><h4>Docs: </h4>
		<div class="name-box">
			Perhaps list of documents associated with customer and/or link to invoice.
		</div>

	{% if form  %}
		<input type="submit" value="Save" />
	{% endif %}
	</div>

	<div class="whole"><br><br><h4>Assets: </h4>
<!-- 	BEGIN TEST CODE //
 -->		{%for glue in node.node_parent.all%}
			<!-- {{ glue.name }} ; -->
        	{% for node in glue.child.node_set.all %}
        		<!-- {{ node.name }}|{{node.desc}}, -->
        		{% if node.name == "flags" and "|ASSET|" in node.desc %}

			            <h4>{{ node.parent.name }}</h4>
			            <p>
			            	{{ node.parent.desc }} <BR>
			            	{{ node.desc }} <BR>
			            	count: {{ iterator.next }}<BR>
			            	All his babbys are below:<BR>
			            </p>
			            {%for asset_child in node.parent.node_set.all %}
			            	Name: {{asset_child.name}}  --and--
			            	Desc: {{asset_child.desc}}<BR>
			            {%endfor%}

        		{% endif %}
        	{% endfor %}
		{%endfor%}


			<div class="tabbed-content">
		        <ul class="tabs">
			        {%for asset_child in node.parent.node_set.all %}
			        	<li><a href="#{{asset_child.name}}">{{asset_child.name}}</a></li>
			        {%endfor%}
		        </ul>
		        <div class="tab_container">
		        	{%for asset_child in node.parent.node_set.all %}
			        	<li><a href="#{{asset_child.name}}">{{asset_child.name}}</a></li>
				        <div style="display: none;" id="{{asset_child.name}}" class="tab_content">
				        	<h4>{{asset_child.name}}</h4>
				            <p>{{asset_child.desc}}</p>
				        </div>
			        {%endfor%}
		        </div>
		      </div>

	<h1>Create a <a href="/ticket/new_ticket">New Ticket</a> for this customer</h1> <!--Maybe find a way to automatically set new_ticket to customer the link was clicked from-->

	<h4>Tickets: </h4>

	    <div class="toggle">


	        {%for glue in node.node_parent.all%}
		        <h2 class="trigger">+ {{glue.child.name}}</h2>
	        <div class="togglebox">
	          <div>

		          	{{glue.child.desc}}<BR>
		          	{%for child in glue.child.node_set.all%}
						{% if child.name == "priority" %}
							<br><h5>Priority: {{child.desc}}</h5>
						{% endif %}

					{% endfor %}
					{%for child in glue.child.node_set.all%}
						{% if child.name == "status" %}
							<h5>Status: {{child.desc}}</h5>
						{% endif %}

					{% endfor %}
					{%for child in glue.child.node_set.all%}
						{% if child.name == "status" %}
							<h5>Date Created: {{ glue.child.date_created }}</h5>
						{% endif %}

					{% endfor %}

					<h4><a href="/ticket/detail/{{glue.child.pk}}">go to ticket</a></h4>

				</br>
	          </div>
	        </div>
	        {%endfor%}

	    </div>
	</div>
</form>

{% endblock %}
