{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


	<ul><a href="/ops/new/">Create New Customer</a></ul>

	<h2>Customers</h2>
	{% if latest_node_list %}
		<table>
			<tr>
	          <th><h4>Customer Name</h4></th>
	        </tr>
	    {% for node in latest_node_list %}
	        <tr>
	              <td><a href="/ops/customer/detail/{{ node.id }}/">{{ node.name }}</a></td>
	        </tr>
	    {% endfor %}
		</table>
		<br />
	      <div class="line"></div>
	{% else %}
	    <p>No customers available.</p>
	{% endif %}

 

{%endblock%}