{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


 <form action="{{ form_action }}" method="post">

{% csrf_token %}

<div class="one-side"><h1 class="title">Asset Info</h1></div>  

	 
	<div class="whole"><div class="line"></div></div>

	<div class="one-side"><h4>Asset Name: </h4>
		<div class="name-box">
			{{form.name}}
			</div>
	</div>



	<div class="one-side last"><h4>Asset Description: </h4>
		<div class="name-box">
			{{form.desc}}
		</div>
	</div>

	<div class="one-side">
	{% if form  %}	
		<br><br><br><br><input type="submit" value="Save" /><br><br><br><br>
	{% endif %}

	</div>

	<div class="whole"><div class="line"></div></div>

	</div>
</form>

{%endblock%}
