{% extends "pagetest/index.html" %}



{% block user_zone %}


{% if user.is_authenticated%}
{%else%}
<form id="login_form" method="post" action="/pagetest/login/">
    {% csrf_token %}
    <div style="margin-top: 10px;">
        <div class="grid_4">
            Username: <input type="text" id="login_username" name="username" value="" size="20" />
            <br />
            Password: <input type="password" id="login_password" name="password" size="20" />
            <br />
        </div>
        <div class="grid_1">
            <input type="submit" value="submit" id="id_login_form"/>
        </div>
    </div>
</form>
{%endif%}      

{% endblock %}

{%block content%}
{% endblock %}
<!-- ######## -->
