{% load staticfiles %}
{% load static %}



{% csrf_token %}
<html lang="en-US">
<meta charset="UTF-8">

    <Title>
        SnapNode: Test
    </title>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/core/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/static/core/js/ddsmoothmenu.js"></script>
    <script type="text/javascript" src="/static/core/js/jquery.tablesorter.js"></script>
    <script>
        //~ setInterval(function() {
                  //~ window.location.reload();
                //~ }, 900000); 
    </script>
		
	<!--<link rel="stylesheet" type="text/css" href="{% static 'core/css/demo.css' %}" media="screen" />-->
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/table.css' %}" />
	<!--<link rel="stylesheet" type="text/css" href="{% static 'core/css/reset.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/text.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'core/css/960.css' %}" />-->

	<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	
<!--
	<meta http-equiv="refresh" content="900">
-->
    
  </head>

  <!DOCTYPE HTML>


</head>

<body>

<!-- Begin Wrapper -->
<div id="wrapper">
	<!-- Begin Sidebar -->
	<div id="sidebar">
		 <div id="logo"><a href="/"><img src="/static/core/images/logo.png" alt="Snapnode" /></a></div>

        <div id="log-box">
        {% block user_zone %}
        {% endblock %}
        {% if user.is_authenticated %}
            <h1><font color="#c9731f">Welcome, {{ user.first_name }}.</font></h1>
            Your last login was: {{ user.last_login}}
            <a href="/core/logout/">Logout</a>
        {%elif  display_type == "Login" %}
        {% else %}
            <h1><font color="#c9731f">Welcome, Guest!</font></h1>
            <p>Please ..
                <a href="/core/register/" id="id_register">|Register|</a> or 
                <a href="/core/login/" id="id_login">|Login|</a>
            </p>
        {% endif %}</div>

	<!-- Begin Menu -->
    <div id="menu" class="menu-v">
      <ul>
        <li><a href="/" class="active">Home</a>
        </li>
        <li><a href="/ticket/">Tickets</a>
        	<ul>
        		<li><a href="/ticket/index/">Browse Tickets</a></li>
        		<li><a href="/ticket/new_ticket/">New Ticket</a></li>
        	</ul>
        </li>
        <li><a href="/ops/">Customers</a>
        	<ul>
        		<li><a href="/ops/customer/">Browse Customers</a></li>

        		<li><a href="/ops/customer/new_customer/">New Customer</a></li>

        	</ul>
        </li>
        <li><a href="/finance/">Finances</a>
        	<ul>
        		<li><a href="/finance/bank_deposit/">Bank Deposits</a></li>
                <li><a href="/finance/expenditure/">Expenditures</a></li>
                <li><a href="/finance/payment_received/">Payments Received</a></li>
        		<li><a href="/finance/invoices/">Invoices</a></li>
        	</ul>
        </li>
      </ul>
    </div>
    <!-- End Menu -->
	</div>
	<!-- End Sidebar -->
        <div id="content">
            
            <BR>
            
            {% if user.is_authenticated or  display_type == "Register" %}
                {% block content %}
                {% endblock %}
            {%elif  display_type == "Login" %}
            {% else %}
                <div id="content">
                <h1>Guest Accounts are not authorized for access.</h1>
                <p>Please ..
                    <a href="/core/register/" id="id_register">|Register|</a> or 
                    <a href="/core/login/" id="id_login">|Login|</a>
                </p>
                </div>
            {% endif %}
        </div>
        
        
    
    <div class="clear"></div>
    
    
	<!-- End Content -->
	
</div>
<!-- End Wrapper -->
<div class="clear"></div>
<script type="text/javascript" src="/static/core/js/scripts.js"></script>

</body>
</html>
