{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

	<!-- Begin Content -->
	<div id="content">
	<h1 class="title">Welcome</h1>
	<div class="line"></div>
    <a style="display:block" href="/ticket/">
      <div class="one-half">
      <center><h3><img src="/static/core/images/icon-tickets.png" alt="" />TICKETS</h3></center>
      </div>
    </a>
    
    <a style="display:block" href="/ops/">
      <div class="one-half last">
      <center><h3><img src="/static/core/images/icon-ops.png" alt="" />OPS</h3></center>
      </div>
    </a>
    
    <div class="clear"></div>
    
    <a style="display:block" href="/finance/">
      <div class="one-half">
      <center><h3><img src="/static/core/images/icon-finance.png" alt="" />FINANCE</h3></center>
      </div>
    </a>
    
    <a style="display:block" href="/admin/">
      <div class="one-half last">
      <center><h3><img src="/static/core/images/icon-admin.png" alt="" />ADMIN</h3></center>
      </div>
    </a>
    
    <div class="clear"></div>
    
    <div class="line"></div>
	<!-- End Content -->



{%endblock%}