/* tables */

table.tablesorter thead tr .header {
	background-image: url(/static/core/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/static/core/images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/static/core/images/desc.gif);
}
