{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


 <form action="{{ form_action }}" method="post">

{% csrf_token %}

<div class="one-side"><h1 class="title">Asset Selection</h1></div>  
	 
	<div class="whole"><div class="line"></div></div>

	<div class="one-side"><h4>Choose Asset to Attach: </h4>
		<div class="name-box">
			{{form.assets}}
			</div>
	</div>


	<div class="one-side">
		<div class="name-box">
			{% if form  %}	
				<input type="submit" value="Save" /><br>
			{% endif %}
		</div>
	</div>

	<div class="whole"><div class="line"></div></div>

	</div>
</form>

{%endblock%}

