{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


{% csrf_token %}
<h1 class="title">Ticket Info</h1>
	<div class="line"></div>

	<div class="one-side"><h4>Ticket Name: </h4>
		<div class="name-box">
			{{ node.name }}
			{{ form.name }}
			</div>
	</div>

	<div class="one-side last"><h4>Priority: </h4>
		<div class="name-box">
			{%for child in node.node_set.all%}
				{% if child.name == "priority" %}
					{{child.desc}}
				{% endif %}

			{%endfor%}
		</div>
	</div>


	<div class="one-side"><h4>Customer Name: </h4>
		{%for glue in node.node_child.all%}
			<div class="name-box"><a href="/ops/customer/detail/{{glue.parent.pk}}">{{glue.parent.name}}</a></div>
		{%endfor%}
	</div>

	<div class="one-side last"><h4>Status: </h4>
		<div class="name-box">
			{%for child in node.node_set.all%}
				{% if child.name == "status" %}
					{{child.desc}}
				{% endif %}

			{%endfor%}

		</div>
	</div>


	<div class="one-side"><p><h4>Desc:</h4>
		<div class="desc-box">{{ node.desc }}</div>
	</div>

	<div class="one-side last"><h4>Date Created: </h4>
		<div class="name-box righthand">{{ node.date_created }}</div>
	</div>

<h1><a href="/ticket/edit/{{node.id}}">Edit</a> this ticket</h1>


	<div class="whole"><br><br><h4>Assets: </h4>
<!-- 	BEGIN TEST CODE //
 -->		{%for glue in node.node_parent.all%}
			<!-- {{ glue.name }} ; -->
        	{% for node in glue.child.node_set.all %}
        		<!-- {{ node.name }}|{{node.desc}}, -->
        		{% if node.name == "flags" and "|ASSET|" in node.desc %}

			            <h4>{{ node.parent.name }}</h4>
			            <p>
			            	{{ node.parent.desc }} <BR>
			            	{{ node.desc }} <BR>
			            	count: {{ iterator.next }}<BR>
			            	All his babbys are below:<BR>
			            </p>
			            {%for asset_child in node.parent.node_set.all %}
			            	Name: {{asset_child.name}}  --and--
			            	Desc: {{asset_child.desc}}<BR>
			            {%endfor%}

        		{% endif %}
        	{% endfor %}
		{%endfor%}


			<div class="tabbed-content">
		        <ul class="tabs">
			        {%for asset_child in node.parent.node_set.all %}
			        	<li><a href="#{{asset_child.name}}">{{asset_child.name}}</a></li>
			        {%endfor%}
		        </ul>
		        <div class="tab_container">
		        	{%for asset_child in node.parent.node_set.all %}
			        	<li><a href="#{{asset_child.name}}">{{asset_child.name}}</a></li>
				        <div style="display: none;" id="{{asset_child.name}}" class="tab_content">
				        	<h4>{{asset_child.name}}</h4>
				            <p>{{asset_child.desc}}</p>
				        </div>
			        {%endfor%}
		        </div>
		      </div>

<h1>Create a <a href="/ticket/new_event/{{node.id}}">New Event</a> for this ticket</h1>

	<h4>Events: </h4>
	    <div class="toggle">


	          {%for child in node.node_set.all%}  <!-- {{child.name}}:child<BR> -->
	          	{%for grandchild in child.node_set.all%}   <!-- {{grandchild.name}}{{grandchild.desc}}:grandchild<BR> -->
		          {%if grandchild.name == "flags" and "|EVENT|" in grandchild.desc %}
		          <h2 class="trigger">+ {{ grandchild.parent.name }}</h2>
	        <div class="togglebox">
	          <div>
		          	{{ grandchild.parent.desc }}<BR>
		          	{%for event in grandchild.parent.node_set.all%}
		          		Name: {{event.name}}  --and--
			            Desc: {{event.desc}}<BR>
		          	{%endfor%}


	          </div>
	        </div>
		          {%endif%}
		        {%endfor%}
	          {%endfor%}




	    </div>
	</div>


{%endblock%}
