{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


{% csrf_token %}
<h1 class="title">Ticket Info</h1>
	<div class="line"></div>

	<div class="one-side"><h4>Ticket Name: </h4>
		<div class="name-box">{{ node.name }}</div>
	</div>
	
	<div class="one-side last"><h4>Priority: </h4>
		<div class="name-box">
			{%for child in node.node_set.all%}
				{% if child.name == "priority" %}
					{{child.desc}}
				{% endif %}

			{%endfor%}
		</div>
	</div>


	<div class="one-side"><h4>Customer Name: </h4>
		{%for glue in node.node_child.all%}
			<div class="name-box"><a href="/ops/customer/detail/{{glue.parent.pk}}">{{glue.parent.name}}</a></div>
		{%endfor%}
	</div>

	<div class="one-side last"><h4>Status: </h4>
		<div class="name-box">Status goes here.</div>
	</div>


	<div class="one-side"><p><h4>Desc:</h4> 
		<div class="desc-box">{{ node.desc }}</div>
	</div>

	<div class="one-side last"><h4>Date Created: </h4>
		<div class="name-box righthand">{{ node.date_created }}</div>
	</div>


	<div class="whole"><br><br><h4>Assets: </h4>
<!-- 	BEGIN TEST CODE //
 -->		{%for glue in node.node_parent.all%}
			<!-- {{ glue.name }} ; -->
        	{% for node in glue.child.node_set.all %}
        		<!-- {{ node.name }}|{{node.desc}}, -->
        		{% if node.name == "flags" and "|ASSET|" in node.desc %}
        			
			            <h4>{{ node.parent.name }}</h4>
			            <p>
			            	{{ node.parent.desc }} <BR> 
			            	{{ node.desc }} <BR> 
			            	count: {{ iterator.next }}<BR>
			            	All his babbys are below:<BR>
			            </p>
			            {%for asset_child in node.parent.node_set.all %}
			            	Name: {{asset_child.name}}  --and--  
			            	Desc: {{asset_child.desc}}<BR>
			            {%endfor%}
			           
        		{% endif %}
        	{% endfor %}	
		{%endfor%}


			<div class="tabbed-content">
		        <ul class="tabs">
		          <li><a href="#tab1">One</a></li>
		          <li><a href="#tab2">Two</a></li>
		          <li><a href="#tab3">Three</a></li>
		        </ul>
		        <div class="tab_container">
		          <div style="display: none;" id="tab1" class="tab_content">
		            <h4>One</h4>
		            <p>This will display assets that are attached to ticket.</p>
		          </div>
		          <div style="display: none;" id="tab2" class="tab_content">
		            <h4>Two</h4>
		            <p>Not sure how exactly they are attached at the moment.</p>
		          </div>
		          <div style="display: none;" id="tab3" class="tab_content">
		            <h4>Three</h4>
		            <p>I will figure out when less tired. Also I should figure out if there is a way to hide each of these tabs like the toggles.</p>
		          </div>
		        </div>
		      </div>

	<h4>Events: </h4>
	    <div class="toggle">
	        


	        
	          {%for child in node.node_set.all%}  <!-- {{child.name}}:child<BR> -->
	          	{%for grandchild in child.node_set.all%}   <!-- {{grandchild.name}}{{grandchild.desc}}:grandchild<BR> -->
		          {%if grandchild.name == "flags" and "|EVENT|" in grandchild.desc %}
		          <h2 class="trigger">+ {{ grandchild.parent.name }}</h2>
	        <div class="togglebox">
	          <div>
		          	{{ grandchild.parent.desc }}<BR>
		          	{%for event in grandchild.parent.node_set.all%}
		          		Name: {{event.name}}  --and--  
			            Desc: {{event.desc}}<BR>
		          	{%endfor%}

	          
	          </div>
	        </div>
		          {%endif%}
		        {%endfor%}
	          {%endfor%}




	    </div>	
	</div>	


{%endblock%}