{% extends "core/base.html" %}


{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}

	<ul><a href="/ticket/new_ticket/"><img align="right" src="/static/core/images/create_new.png" alt="Create New Ticket" /></a></ul><br><br><br><br>
	<h2>Ticket</h2>
		      <div class="line"></div>

	{% if latest_node_list %}
	   <table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
		<thead>
			<tr>
	          	<th><h4>Ticket Name</h4></th>
	          	<th><h4>Customer</h4></th>
	          	<th><h4>Date</h4></th>
	          	<th><h4>Priority</h4></th>
				<th><h4>Status</h4></th>
			</tr>
		</thead>
		<tbody>
	    {% for node in latest_node_list %}
			<tr>
	              <td><a href="/ticket/detail/{{ node.id }}/">{{ node.name }}</a></td>
	              <td>
					{%for glue in node.node_child.all%}

						<a href="/ops/customer/detail/{{glue.parent.pk}}">{{glue.parent.name}}</a>

					{%endfor%}
	              </td>
	              <td>{{ node.date_created }}</td>
	              <td>
					{%for child in node.node_set.all%}
						{% if child.name == "priority" %}
                                        		{% if child.desc == "1" %}
                                                		HIGH
                                        		{% elif child.desc == "2" %}
                                                		MEDIUM
                                        		{% elif child.desc == "3" %}
                                                		LOW
                                        		{% endif %}
						{% endif %}

					{%endfor%}
	              </td>
								<td>
									{%for child in node.node_set.all%}
										{% if child.name == "status" %}
											{{child.desc}}
										{% endif %}

									{%endfor%}
								</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>
	{% else %}
	    <p>No tickets available.</p>
	{% endif %}
	      <div class="line"></div>
<!--  -->

{%endblock%}
