{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}

<div id="content">
	<ul><a href="/ticket/new/">Create New Ticket</a></ul>

	<h2>Ticket</h2>
	{% if latest_node_list %}
		<table>
			<tr>
	          <th><h4>Ticket Name</h4></th>
	          <th><h4>Client</h4></th>
	          <th><h4>Date</h4></th>
	          <th><h4>Priority</h4></th>
	        </tr>
	    {% for node in latest_node_list %}
	        <tr>
	              <td><a href="/core/{{ node.id }}/">{{ node.name }}</a></td>
	              <td>CLIENT HERE</td>
	              <td>{{ node.date_created }}</td>
	              <td>PRIORITY HERE</td>
	        </tr>
	    {% endfor %}
		</table>
		<br />
	      <div class="line"></div>
	{% else %}
	    <p>No tickets available.</p>
	{% endif %}
</div>
<!--  -->

{%endblock%}