{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}


	<ul><a href="/ticket/new_ticket/"><img align="right" src="/static/core/images/create_new.png" alt="Create New Ticket" /></a></ul><br><br><br><br>
	<h2>Ticket</h2>
	{% if latest_node_list %}
		<table>
			<tr>
	          <th><h4>Ticket Name</h4></th>
	          <th><h4>Customer</h4></th>
	          <th><h4>Date</h4></th>
	          <th><h4>Priority</h4></th>
						<th><h4>Status</h4></th>
	        </tr>
	    {% for node in latest_node_list %}
	        <tr>
	              <td><a href="/ticket/detail/{{ node.id }}/">{{ node.name }}</a></td>
	              <td>
					{%for glue in node.node_child.all%}

						<a href="/ops/customer/detail/{{glue.parent.pk}}">{{glue.parent.name}}</a>

					{%endfor%}
	              </td>
	              <td>{{ node.date_created }}</td>
	              <td>
					{%for child in node.node_set.all%}
						{% if child.name == "priority" %}
							{{child.desc}}
						{% endif %}

					{%endfor%}
	              </td>
								<td>
									{%for child in node.node_set.all%}
										{% if child.name == "status" %}
											{{child.desc}}
										{% endif %}

									{%endfor%}
								</td>
	        </tr>
	    {% endfor %}
		</table>
		<br />
	      <div class="line"></div>
	{% else %}
	    <p>No tickets available.</p>
	{% endif %}

<!--  -->

{%endblock%}
