{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}





<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'new_ticket' %}" method="post">
{% csrf_token %}

{{form.name.label}}{{form.name}}<BR>
{{form.desc.label}}{{form.desc}}<BR>
{{form.priority.label}}
{% for choice in form.priority %}
	{{ choice }}
{% endfor %}
<BR>

<input type="submit" value="Save" />
</form>




{%endblock%}