{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


 <form action="{{ form_action }}" method="post">

{% csrf_token %}

<div class="one-side"><h1 class="title">Bank Deposit Event Info</h1></div>  
	
	<div class="one-side last">
		{% if node %}
			<h1> <a href="/finance/bank_deposit_event/edit/{{node.id}}">Edit</a> bank deposit event edit</h1>
		{% endif %}
	</div>
	 
	<div class="whole"><div class="line"></div></div>

	<div class="one-side"><h4>ID: </h4>
		<div class="name-box">
			{{ node.name }}
			{{ form.ID }}
			</div>
	</div>



	<div class="one-side last"><h4>Date Created: </h4>
		<div class="name-box">
			{{ node.date_created }}
		</div>

	</div>
	
        <div class="one-side"><p><h4>Bank Name:</h4>
                <div class="name-box">
						{%for child in node.node_set.all%}
							{% if child.name == "bank name" %}
								{{child.desc}}
							{% endif %}
						{% endfor %}
                        {{ form.bank }}
                </div>
        </div>

        <div class="one-side last"><p><h4>Depositor:</h4>
                <div class="name-box">
						{%for child in node.node_set.all%}
							{% if child.name == "depositor" %}
								{{child.desc}}
							{% endif %}
						{% endfor %}
                        {{ form.depositor }}
                </div>
        </div>

        <div class="one-side"><p><h4>Amount Deposited:</h4>
                <div class="name-box">
						{%for child in node.node_set.all%}
							{% if child.name == "amount" %}
								{{child.desc}}
							{% endif %}
						{% endfor %}
                        {{ form.amount }}
                </div>
        </div>



        <div class="one-side last">
			{% if form  %}	
				<br><br>
				<input type="submit" value="Save" />
			{% endif %}
		</div>

	</div>

</form>

{%endblock%}

