{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


 <form action="{{ form_action }}" method="post">

{% csrf_token %}

<div class="one-side"><h1 class="title">Ticket Info</h1></div>  
	
	<div class="one-side last">
		{% if node %}
			<h1> <a href="/finance/bank_deposit_event/edit/{{node.id}}">Edit</a> bank deposit event edit</h1>
		{% endif %}
	</div>
	 
	<div class="whole"><div class="line"></div></div>

	<div class="one-side"><h4>ID: </h4>
		<div class="name-box">
			{{ ID.name }}
			{{ ID.name }}
			</div>
	</div>

<!--	<div class="one-side last"><h4>Priority: </h4>
		<div class="name-box">
			{%for child in node.node_set.all%}
				{% if child.name == "priority" %}
					{% if child.desc == "1" %}
						LOW
					{% elif child.desc == "2" %}
						MEDIUM
					{% elif child.desc == "3" %}
						HIGH
					{% endif %}
				{% endif %}

			{%endfor%}
			{%for choice in form.priority %}
				{{ choice }}
			{% endfor %}
		</div>
	</div>


	<div class="one-side"><h4>Customer Name: </h4>
		{%for glue in node.node_child.all%}
			<div class="name-box"><a href="/ops/customer/detail/{{glue.parent.pk}}">{{glue.parent.name}}</a></div>
		{%endfor%}
		{{form.customer}}
	</div>

	<div class="one-side last"><h4>Status: </h4>
		<div class="name-box">
			{%for child in node.node_set.all%}
				{% if child.name == "status" %}
					{{child.desc}}
				{% endif %}

			{% endfor %}
			{% for choice in form.status %}
  				{{ choice }}
			{% endfor %}
		</div>
	</div>

-->
	<div class="one-side"><p><h4>Desc:</h4>
		<div class="desc-box">
			{{ node.desc }}
			{{ form.desc }}
		</div>
	</div>

	<div class="one-side last"><h4>Date Created: </h4>
		<div class="name-box righthand">
			{{ node.date_created }}
		</div>
	

	{% if form  %}	
		<input type="submit" value="Save" />
	{% endif %}

	</div>

	<div class="whole"><br><br><h4>Assets: </h4>
<!-- 	BEGIN TEST CODE //
 -->		{%for glue in node.node_parent.all%}
			<!-- {{ glue.name }} ; -->
        	{% for node in glue.child.node_set.all %}
        		<!-- {{ node.name }}|{{node.desc}}, -->
        		{% if node.name == "flags" and "|ASSET|" in node.desc %}

			            <h4>{{ node.parent.name }}</h4>
			            <p>
			            	{{ node.parent.desc }} <BR>
			            	{{ node.desc }} <BR>
			            	count: {{ iterator.next }}<BR>
			            	All his babbys are below:<BR>
			            </p>
			            {%for asset_child in node.parent.node_set.all %}
			            	Name: {{asset_child.name}}  --and--
			            	Desc: {{asset_child.desc}}<BR>
			            {%endfor%}

        		{% endif %}
        	{% endfor %}
		{%endfor%}


			<div class="tabbed-content">
		        <ul class="tabs">
			        {%for asset_child in node.parent.node_set.all %}
			        	<li><a href="#{{asset_child.name}}">{{asset_child.name}}</a></li>
			        {%endfor%}
		        </ul>
		        <div class="tab_container">
		        	{%for asset_child in node.parent.node_set.all %}
			        	<li><a href="#{{asset_child.name}}">{{asset_child.name}}</a></li>
				        <div style="display: none;" id="{{asset_child.name}}" class="tab_content">
				        	<h4>{{asset_child.name}}</h4>
				            <p>{{asset_child.desc}}</p>
				        </div>
			        {%endfor%}
		        </div>
		      </div>

<h1>Create a <a href="/ticket/new_event/{{node.id}}">New Event</a> for this ticket</h1>

	<h4>Events: </h4>
	    <div class="toggle">


	          {%for child in node.node_set.all%}  <!-- {{child.name}}:child<BR> -->
	          	{%for grandchild in child.node_set.all%}   <!-- {{grandchild.name}}{{grandchild.desc}}:grandchild<BR> -->
		          {%if grandchild.name == "flags" and "|EVENT|" in grandchild.desc %}
		          <h2 class="trigger">+ {{ grandchild.parent.name }}</h2>
	        <div class="togglebox">
	          <div>
		          	{{ grandchild.parent.desc }}<BR>
		          	{%for event in grandchild.parent.node_set.all%}
		          		{% if event.name == "hours" %}
                                        	<h5><p>Hours spent working: {{event.desc}} hours </h5></p>
                               		{% endif %}
		          	{%endfor%}


	          </div>
	        </div>
		          {%endif%}
		        {%endfor%}
	          {%endfor%}




	    </div>
	</div>
</form>

{%endblock%}

