{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}


 <form action="{{ form_action }}" method="post">

{% csrf_token %}

<div class="one-side"><h1 class="title">Invoice Info</h1></div>  
	
	<div class="one-side last">
		{% if node %}
			<h1> <a href="/finance/bank_deposit_event/edit/{{node.id}}">Edit</a> invoice</h1>
		{% endif %}
	</div>
	 
	<div class="whole"><div class="line"></div></div>

	<div class="one-side"><h4>ID: </h4>
		<div class="name-box">
			{{ node.id }}
			</div>
	</div>

	<div class="one-side last"><h4>Customer: </h4>
		<div class="name-box righthand">
			{{ node.parent.name }}			
		</div>
	</div>	

	<div class="one-side"><p><h4>Desc:</h4>
		<div class="desc-box">
			{{ node.desc }}
			{{ form.desc }}
		</div>
	</div>

	<div class="one-side last"><h4>Previous Invoice Sent: </h4>
		<div class="name-box righthand">
			{%for child in node.node_set.all%}
		        {% if child.name == "date" %}
					{{ child.desc }}
				{% endif %}    
		    {%endfor%}   			
		</div>
	</div>	

	{% if form  %}	
		<input type="submit" value="Save" />
	{% endif %}

	

	<div class="whole"><br><br><h4>Tickets: </h4>
		<div class="tabbed-content">
			<ul class="tabs">
				{% for glue in parent.node_parent.all %}
					<li><a href="#{{ forloop.counter }}">{{ glue.child.name }}</a></li>
				{% endfor %}
			</ul>
			<div class="tab_container">
				{% for glue in parent.node_parent.all %}
					<div style="display: none;" id="{{ forloop.counter }}" class="tab_content">
						{{ glue.child.desc }}<br><br>

						<h6><a href="/tickets/detail/{{glue.child.pk}}">go to ticket</a></h6>

						<h4>Events</h4>
						<div class="toggle">
						{% for child in glue.child.node_set.all %}
				          	{%for grandchild in child.node_set.all%}   
					          {%if grandchild.name == "flags" and "|EVENT|" in grandchild.desc %}
					          	<h2 class="trigger">+{{ child.name }}</h2>
					          	<div class="togglebox">
						          	{{ child.desc }}<BR>
						          	<h5><p>{%for event in grandchild.parent.node_set.all%}
						          		{% if event.name == "user" %}
				                        	Tech: {{event.desc}}
				                        {% endif %}
						          		{% if event.name == "hours" %}
				                            Hours spent working: {{event.desc}} hours 
				                        {% endif %}
				                        <br>
						          	{%endfor%}</h5></p>
						          	<a href="/ticket/edit_event/{{child.id}}">Edit Event<br><br><br></a>
						        </div>
					          {%endif%}
					        {%endfor%}
						{% endfor %}
						</div>
					</div>					
				{% endfor %}
			</div>
		</div>

</form>

{%endblock%}

