{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

{% csrf_token %}

<ul><a href="/finance/new_expenditure/"><img align="right" src="/static/core/images/create_new.png" alt="Create New Expenditure" /></a></ul>

<h2>Expenditures</h2>
              <div class="line"></div>

    {% if latest_node_list %}
       <table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
        <thead>
             <tr>
                <th><h4>ID</h4></th>
                <th><h4>Date</h4></th>
                <th><h4>Payment To</h4></th>
                <th><h4>Amount</h4></th> 
            </tr>   
        </thead>
        <tbody>
        {% for node in latest_node_list %}
            <tr>
                <td><a href="/finance/expenditure/detail/{{ node.id }}/">{{ node.id }}</a></td>
                <td>{{ node.date_created }}</td>
                <td>
                    {%for child in node.node_set.all%}
                        {% if child.name == "payto" %}
                            {{ child.desc }}
                        {% endif %}
                    {%endfor%}   
                </td>    
                <td>
                    {%for child in node.node_set.all%}
                        {% if child.name == "amount" %}
                            {{ child.desc }}
                        {% endif %}
                    {%endfor%}   
                </td>                                             
            </tr>
        {% endfor %}
            
        </table>
    
    {% else %}
        <p>No documents are available.</p>
    {% endif %}
{%endblock%}
