{% extends "core/base.html" %}

{% block content %}

{% load static %}
{% load staticfiles %}

<!--enter form code here-->

{% csrf_token %}
<h1 class="title">Invoices</h1>


<div class="line"></div>
	<div class="tabbed-content">
		<ul class="tabs">
			<li><a href="#tab1">Invoices To Be Sent</a></li>
			<li><a href="#tab2">Open Invoices</a></li>
			<li><a href="#tab3">Sent Invoices</a></li>	
		</ul>
		<div class="tab_container">
			{% if latest_node_list %}
			<div style="display: none;" id="tab1" class="tab_content">
				<!--list invoices that need to be reviewed and sent out-->
			
			    <table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
					<thead>
					<tr>
						<th><h4>Invoice ID</h4></th>
			          	<th><h4>Customer</h4></th>
			          	<th><h4>Date of Last Invoice</h4></th>
					</tr>
					</thead>
					<tbody>
					{% for node in latest_node_list %}
						{%for child in node.node_set.all%}
		                        {% if child.name == "date" %}
		                        	{% if due <= child.desc %}
								        <tr>
								        	<td><a href="/finance/invoices/detail/{{ node.id }}/">{{ node.id }}</a></td>
								          	<td>{{ node.parent.name }}</td>
								          	<td>
							                    {{ child.desc }}
								          	</td>
								        </tr>
								    {% endif %}
								{% endif %}    
		                {%endfor%}   
			        {%endfor%}
					</tbody>
				</table>

			</div>

			<div style="display: none;" id="tab2" class="tab_content">
				<!--list invoices that have not been sent out and aren't immediately needed to be sent out-->
				
			    <table id="myTable2" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
					<thead>
					<tr>
						<th><h4>Invoice ID</h4></th>
			          	<th><h4>Customer</h4></th>
			          	<th><h4>Date of Last Invoice</h4></th>
					</tr>
					</thead>
					<tbody>
					{% for node in latest_node_list %}
						{%for child in node.node_set.all%}
		                        {% if child.name == "date" %}
		                        	{% if due <= child.desc %}
								        <tr>
								        	<td><a href="/finance/invoices/detail/{{ node.id }}/">{{ node.id }}</a></td>
								          	<td>{{ node.parent.name }}</td>
								          	<td>
							                    {{ child.desc }}
								          	</td>
								        </tr>
								    {% endif %}
								{% endif %}    
		                {%endfor%}   
			        {%endfor%}
					</tbody>
				</table>
			</div>

			<div style="display: none;" id="tab3" class="tab_content">
				<!--list invoices sent out up to a designated date-->
				
			    <table id="myTable3" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
					<thead>
					<tr>
			          <th><h4>Customer</h4></th>
			          <th><h4>Date Sent</h4></th>
					</tr>
					</thead>
					<tbody>
					{% for node in latest_node_list %}
			        <tr>
			          <td>Client 1</td>
			          <td>MM/DD/YY</td>
			        </tr>
			        {% endfor %}
					</tbody>
				</table>

			</div>
			{% else %}
			    <p>No invoices are available.</p>
			{% endif %}
		</div>
	</div>

<div class="line"></div>
{% endblock %}